<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: login_path do |f| %>

      <%= f.label t(".email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label t(".password") %>

      <%= link_to t(".reset"), new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t ".remember" %></span>
      <% end %>

      <%= f.submit t(".login"), class: "btn btn-primary" %>
    <% end %>

    <p><%= t ".new?" %> <%= link_to t(".signupnow"), signup_path %></p>
    <%= link_to user_facebook_omniauth_authorize_path, class: "btn btn-block btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span> <%= t ".facebook" %>
    <% end %>
    <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-block btn-social btn-twitter" do %>
      <span class="fa fa-twitter"></span> <%= t ".twitter" %>
    <% end %>
    <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-block btn-social btn-google" do %>
      <span class="fa fa-google"></span> <%= t ".google" %>
    <% end %>
  </div>
</div>
