<% commentable.comments.each do |comment| %>
  <div class="well">
    <div class="comment-info"> 
      <p ><%= comment.user.name %> : </p> <%= comment.content %>
    </div>
    <%if logged_in? %>
      <%if current_user&.admin? || current_user == comment.user%>
        <%= link_to t(".delete"), comment_path(comment), method: :delete,
                            data: { confirm: t(".confirm") } %>
      <% end %>
      <a class="showhide"><%= t ".reply" %></a>
      <div class="reply-form">
        <%= form_for [comment, Comment.new] do |f| %>
          <%= f.text_area :content, placeholder: t(".placeholder") %><br/>
          <%= f.submit t(".submit"), class:"reply-btn" %>
        <% end %>
      </div>
    <% end %>
    <ul class="reply-info">
      <%= render partial: "comments/comment", locals: {commentable: comment} %>
    </ul>
  </div>
<% end %>
