<%= form_for @tour_detail do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= f.label t(".tour") %>
  <%= f.select :tour_id, options_from_collection_for_select(Tour.all, :id, "name") %>

  <%= f.label t(".start_time") %>
  <%= f.date_field :start_time, min: Date.today, class: "form-control" %>

  <%= f.label t(".end_time") %>
  <%= f.date_field :end_time, min: :start_time, class: "form-control" %>

  <%= f.label t(".price") %>
  <%= f.text_field :price, class: "form-control" %>

  <%= f.label t(".people_number") %>
  <%= f.number_field :people_number, class: "form-control" %>

  <div class="form-group">
    <div class="picture-info">
      <%= f.fields_for :pictures_attributes do |image_f| %>
        <%= image_f.hidden_field :picture_cache %>
        <%= image_f.file_field :link %>
      <% end %>
    </div>
  </div>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>