<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>

<%= form_tag(tour_details_path, method: :get) do %>
  <%= text_field_tag :term %>
  <%= submit_tag "Search" %>
<% end %>

<%if current_user&.role == "admin"%>
  <div class="add_btn">
  <%= link_to new_tour_detail_path, class: "btn btn-sm btn-primary" do %>
    <span class="glyphicon glyphicon-plus"></span> <%= t ".add" %>
  <% end %>
  </div>
<% end %>

<% @tour_details.each do |tour_detail| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= tour_detail.tour.name %></h5>
      <p class="card-text"><%= tour_detail.tour.description %></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= tour_detail.start_time %></li>
      <li class="list-group-item"><%= tour_detail.end_time %></li>
      <li class="list-group-item"><%= tour_detail.price %></li>
      <li class="list-group-item"><%= tour_detail.people_number %></li>
    </ul>
    <div class="card-body">
      <%= link_to tour_detail, class: "btn btn-sm btn-info" do %>
        <span class="glyphicon glyphicon-eye-open"></span>
      <% end %>

      <% if current_user&.role == "admin"%>
        <%= link_to edit_tour_detail_path(tour_detail), class: "btn btn-sm btn-warning" do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to tour_detail, method: :delete,
                                data: { confirm: t(".confirm") }, class: "btn btn-sm btn-danger" do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= will_paginate @tour_details%>
