<% provide :title, t(".title") %>
<h1><%= t ".h1" %></h1>

<%= search_form_for @search, class: "form-inline" do |f| %>
	<div class="form-group">
    <%= f.text_field :tour_name_cont, class: "form-control", placeholder: t(".placeholder") %><br>
  </div>
  <%= f.submit t(".search"), class: "btn btn-default search-btn" %>
<% end %>

<% if can? :new, @tour_detail %>
  <div class="add_btn">
    <%= link_to new_tour_detail_path, class: "btn btn-sm btn-primary" do %>
      <span class="glyphicon glyphicon-plus"></span> <%= t ".add" %>
    <% end %>
    <% if params.has_key?(:soft_deleted) %>
      <%= link_to tour_details_path, class: "btn btn-sm btn-primary" do %>
        <%= t "tours.excludes_deleted" %>
      <% end %>
    <% else %>
      <%= link_to tour_details_path(soft_deleted: true), class: "btn btn-sm btn-warning" do %>
        <%= t "tours.includes_deleted" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="col">
  <% @tour_details.each do |tour_detail| %>
    <div class="col-md">
      <div class="thumbnail tour-card">
        <div class="row card-row">
        <div class="col-md-5 pic-section" >
          <%= image_tag tour_detail.pictures.first&.link&.url, class: "tourdetail-pic" %>
        </div>
        <div class="col-md-7">
          <div class="caption">
            <h3>
              <%= link_to tour_detail.tour.name, tour_detail %>
            </h3>
            <div class="description"><%= tour_detail.tour.description %></div>
              <ul class="list-group list-group-flush tour-info">
                <li class="list-group-item"><%= t ".start_time" %>: <%= tour_detail.start_time %></li>
                <li class="list-group-item"><%= t ".end_time" %>: <%= tour_detail.end_time %></li>
                <li class="list-group-item"><%= t ".price" %>: <%= tour_detail.price %></li>
                <li class="list-group-item"><%= tour_detail.people_number %> <%= t ".people_number" %></li>
              </ul>
              <% if can? [:edit, :destroy, :purge, :recover], tour_detail %>
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= t "tours.index.actions" %> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to edit_tour_detail_path(tour_detail) do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                        <%= t "tours.index.edit" %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to purge_tour_detail_path(tour_detail), method: :delete,
                                        data: { confirm: t(".confirm") } do %>
                        <span class="glyphicon glyphicon-remove"></span>
                        <%= t "tours.index.purge" %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to recover_tour_detail_path(tour_detail), method: :put do %>
                        <span class="glyphicon glyphicon-repeat"></span>
                        <%= t "tours.index.recover" %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to tour_detail, method: :delete,
                                        data: { confirm: t(".confirm") } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                        <%= t "tours.index.delete" %>
                      <% end %>
                    </li>
                  </ul>
                </div>
              <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @tour_details %>
