<% provide :title, @tour.name %>
<div class="row">
  <aside class="col-md">
    <section class="user_info">
      <h1 class = "tour-name">
        <%= @tour.name %> | <%= @category.name %>
      </h1>
      <p class = "tourdetail_label_1" ><%= t ".description" %></p>
      <p class = "tour-description">
        <%= @tour.description %>
      </p>
      <div class = "col-md-6">
        <p class = "tourdetail_label" ><%= t ".start_time" %></p>
        <p>
          <%= @tour_detail.start_time %>
        </p>
        <p class = "tourdetail_label" ><%= t ".end_time" %></p>
        <p>
          <%= @tour_detail.end_time %>
        </p>
      </div>
      <div class = "col-md-6">
        <p class = "tourdetail_label" ><%= t ".price" %></p>
        <p>
          <%= @tour_detail.price %>
        </p>
        <p class = "tourdetail_label" ><%= t ".people_number" %></p>
        <p>
          <%= @tour_detail.people_number %>
        </p>
      </div>
    </section>
    <div class="review-picture">
        <%= render partial: "pictures/picture", locals: {pictureable: @tour_detail} %>
    </div>
  </aside>
    <% if logged_in? %>
      <div class="tour-btn">
        <% if @tour_detail.people_number != 0%>
          <%= link_to t(".book"), new_booking_path(:tour_detail => @tour_detail.id), data: { modal: true }, class: "btn btn-primary" %>
        <% end %>
          <%= link_to t(".review"), new_review_path(:tour_detail => @tour_detail.id, :user => current_user.id), data: { modal: true }, class: "btn btn-warning" %>
      </div>
    <% else %>
      <h2> <%= t ".bookhint" %> </h2>
    <% end %>
</div>

<div class="row">
  <h2><%= t ".h2"%></h2>
  <%unless get_reviews(@tour_detail.id).empty? %>
    <% get_reviews(@tour_detail.id).each do |review|%>
      <div class="col-md review-section">
        <%if logged_in? %>
          <% if current_user == review.user || current_user.role == "admin"%>
            <div class="review-delete-btn">
              <%= link_to review, method: :delete,
                                          data: { confirm: t("reviews.index.confirm") }, class: "btn btn-sm btn-light" do %>
                  <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <p class="review-user"> <%= review.user.name %> </p>
        <div> <p class="review-label"> <%= t ".rating" %> </p> <p class="rating"> <%= review.rating %>/10 </p> </div>
        <div> <p class="review-label"> <%= t ".content" %> </p> <%= review.content %> </div>
        <div class="review-picture">
          <%= render partial: "pictures/picture", locals: {pictureable: review} %>
        </div>

        <p class="like" ><%= review.likes.count %> <%= (review.likes.count) == 1 ? t(".like") : t(".likes") %></p>
        <%if logged_in? %>
          <% pre_like = review.likes.find { |like| like.user_id == current_user.id} %>
          <% if pre_like %>
            <%= link_to review_like_path(review, pre_like), method: :delete, remote: true do %>
              <i class="glyphicon glyphicon-thumbs-down"></i>
            <% end %>
          <% else %>
            <%= link_to review_likes_path(review), method: :post, remote: true do %>
              <i class="glyphicon glyphicon-thumbs-up"></i>
            <% end %>
          <% end %>
        <% end %>

        <h3 class="comments-title"> <%= t ".comments"%> </h3>
        <%= render partial: "comments/comment", locals: {commentable: review} %>
        <%if logged_in? %>
          <%= render partial: "comments/form", locals: {commentable: review} %>
        <% end %>
      </div>
    <% end %>
  <% else %>
      <div class="no-reviews">
          <%= t ".no_reviews" %>
      </div>
  <% end %>
</div>
