<% provide :title, t(".title") %>
<h1><%= t ".h1" %> <%= @booking.id %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @booking do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label t(".tour") %>
      <%= f.select :tour_detail_id, options_from_collection_for_select(get_bookings_name, :id, "name") %>

      <%= f.label t(".price") %>
      <%= f.text_field :price, class: "form-control" %>

      <%= f.label t(".people_number") %>
      <%= f.number_field :people_number, class: "form-control" %>

      <%= f.label t(".status") %>
      <%= f.select :status, [["Pending", "pending"], ["Confirmed", "confirmed"], ["Cancelled", "cancelled"]]%>

      <%= f.submit t(".update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
