<% provide :title, @booking.tour_detail.tour.name %>
<div class="row">
  <aside class="col-md">
    <section class="user_info">
      <h1 class = "tour-name">
        <%= @booking.tour_detail.tour.name %> | <%= @booking.tour_detail.tour.category.name %>
      </h1>
      <p class = "tour-description">
        <%= @booking.tour_detail.tour.description %>
      </p>
      <div class="col-md-6">
        <p>
          <%= t ".price" %> <%= @booking.price %>
        </p>
        <p>
          <%= t ".people_number" %> <%= @booking.people_number %>
        </p>
        <p>
          <%= t ".status" %> <%= @booking.status.capitalize %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <%= t ".user_name" %> <%= @booking.user.name %>
        </p>
        <p>
          <%= t ".start_time" %> <%= @booking.tour_detail.start_time %>
        </p>
        <p>
          <%= t ".end_time" %> <%= @booking.tour_detail.end_time %>
        </p>
      </div>
      <% if @booking.pending? %>
        <%= link_to @booking, method: :delete,
                              data: { confirm: t(".confirm") }, class:"btn btn-lg btn-danger cancel-btn" do %>
          <%= t ".cancel" %>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>
