<%= search_form_for @search, class: "form-inline" do |f| %>
	<div class="form-group">
    <%= f.text_field :name_cont, class: "form-control", placeholder: t(".cat_name") %><br>
  </div>
  <%= f.submit t(".search"), class: "btn btn-default search-btn"%>
<% end %>
<table>
  <thead>
    <th> <%= sort_link(@search, :cat_name, t(".cat_name")) %> </th>
    <th> <%= t ".created_at" %> </th>
    <th> <%= t ".updated_at" %> </th>
    <th> <%= t ".operations" %> </th>
  </thead>
    <tbody>
      <% categories.each do |category| %>
        <tr>
          <td> <%= category.name %> </td>
          <td> <%= category.created_at %> </td>
          <td> <%= category.updated_at %> </td>
          <td>
          <% if current_user&.role == "admin"%>
            <%= link_to edit_category_path(category), class: "btn btn-sm btn-warning" do %>
              <span class="glyphicon glyphicon-pencil"></span>
            <% end %>
            <%= link_to category, method: :delete,
                                     data: { confirm: t(".confirm") }, class: "btn btn-sm btn-danger" do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
<%= will_paginate categories%>
