<% if @reviews.present? %>
  <% @reviews.each do |review|%>
      <div class="col-md review-section">
        <% if can? :destroy, review%>
          <div class="reviews-delete">
            <%= link_to review, method: :delete,
                                        data: { confirm: t(".confirm") }, class: "btn btn-sm btn-light" do %>
                <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </div>
      <% end %>
        <p class="review-user"> <%= review.user.name %> | <%= review.tour_detail.tour.name %> </p>
        <div> <p class="review-label"> <%= t ".rating" %> </p> <%= review.rating %>/10 </div>
        <div> <p class="review-label"> <%= t ".content" %> </p> <%= review.content %> </div>
        <div class="review-picture">
          <%= render partial: "pictures/picture", locals: {pictureable: review} %>
        </div>
      </div>
  <% end %>
<% else %>
  <div class="no-reviews">
    <%= t ".no_reviews" %>
  </div>
<% end %>
