<% @reviews.each do |review|%>
    <% if current_user&.role == "admin"%>
        <div class="reviews-delete">
        <%= link_to review, method: :delete,
                                    data: { confirm: t(".confirm") }, class: "btn btn-sm btn-light" do %>
            <span class="glyphicon glyphicon-remove"></span>
        <% end %>
        </div>
      <% end %>
    <div class="col-md review-section">
      <p class="review-user"> <%= review.user.name %> | <%= review.tour_detail.tour.name %> </p>
      <div> <p class="review-label"> <%= t ".rating" %> </p> <%= review.rating %>/10 </div>
      <div> <p class="review-label"> <%= t ".content" %> </p> <%= review.content %> </div>
    </div>
<% end %>
