<footer class="footer">
  <small>
    <%= t "layouts.title" %>
    <%= t "layouts.name" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".eng"), locale:"en" %></li>
      <li><%= link_to t(".vie"), locale:"vi" %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
